{% extends "base.html" %}

{% block content %}
<div class="hero-unit" style="width:400px;">
    <h3>Login</h3>

    <div class="container">
    <form class="form-signin span4" id="login_form" method="post" action="">
        {% csrf_token %}

        {% if form.errors %}<p><strong>Bitte verbessere die folgenden Felder:</strong></p>{% endif %}
        <label>Username</label>
        <input type="text" class="input-block-level" placeholder="Username" name="username" style="width:150px;" />
        <br />
        <label>Username</label>
        <input type="password" class="input-block-level" placeholder="Password" name="password" style="width:150px;"/>
        <br />
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>

    </div>
    <!-- /container -->
</div>
{% endblock %}