<head>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> 
	  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	  <script>
	  $(function() {
	    $( "#menu" ).menu();
	  });
	  </script>  
	   <style>
	  .ui-menu { width: 180px; }
	  </style>
	  <style type="text/css">
	  a {text-decoration: none}
	  </style> 
</head>

<body>
    <div id="login">
        {% block login %}
        {% if user.is_authenticated %}<p>User:{{user.username}}</p>{%else%}<p>User:Gast</p>{% endif %}
		{% if user.is_authenticated %}<a href="/logout"><p>Logout</p></a>{%else%}<a href="/login"><p>Login</p></a>{% endif %}
        {% endblock %}
    </div>
    
  
    	{% block menu %}
    	<ul id="menu">
  			<li class="ui-state-disabled">Menu</li>
   				<li><a href="/">Home</a></li>
   				<li><a href="/register/">Registrieren</a></li>
  				<li>Rezepte
   					<ul>
      					<li class="ui-state-disabled">Kategorien</li>
     					<li><a href="/recipes/">Vorspeise</a></li>
      					<li>Hauptspeise</li>
      					<li>Nachspeise</li>
      					<li>Sonstiges</li>
    				</ul>
  				</li>
   			<li><a href="/recipes/create">Rezept erstellen</a></li>
		</ul>
		{% endblock %}
  
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
