{% extends "base.html" %}

{% block title %}
	{{ block.super }} - Rezept erstellen
{% endblock %}
	
{% block content %}

	<h2>Neues Rezept</h2>
	
	<form action="{{ action_url }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		{{ form }}
		{% csrf_token %}
  		
  		<div class="form-group">
    		<label for="recipename">Rezept:</label>
    		<input class="form-control" type="text" class="form-control" id="recipename"  name ="recipename"> <br />
    	</div>    		
    	
    	<div class="form-group">
    		<label >Zutaten und Mengenangabe:</label>

		
    	<fieldset name="ingredients" >
    		<input type="text" name="quantity1" style="width:50px; margin-right:15px;" placeholder="Menge" > 	
		  	<input name="ingredient1" type="text" style="width:100px;" placeholder="Zutat" > 
			<input type="button" id="addButton" class="btn btn-default" style="position:absolute;" value="Weitere">	<br />			
		  	<span id="addBoxq" >
		 </fieldset>
		
		    
		</div>
		<br />
		<br />
		
  		<div class="form-group">
		    <label for="description">Zubereitung:</label>
		    <textarea class="form-control" id= "description" name = "description" class="form-control" ></textarea> <br />
 		</div>
 		
 		<div class="form-group">
			<label for="tag">Tags:</label>
		  	<input class="form-control" id="tag" name="tag" type="text" placeholder="Tag1, Tag2"> 	<br />
		</div>
 	
		<div class="form-group">
	    	<label for="fileInput">Bild hochladen</label>
	   		<input type="file" id="pic_id" name="pic"> <br />
	  	</div>
  		<br />
  		
  		<button type="submit" class="btn btn-primary" >Erstellen</button> <br />
	</form>
	<a href="home/index.html" >zur&uuml;ck zur &Uuml;bersicht</a>
{% endblock %}