{% extends "base.html" %}

{% block title %}
	{{ block.super }} - Rezept erstellen
{% endblock %}
	
{% block content %}

	<h2>Neues Rezept</h2>
	
	<form action="{{ action_url }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		{{ form }}
		{% csrf_token %}
  		
  		<div class="form-group">
    		<label for="recipename">Rezept:</label>
    		<input class="form-control" type="text" class="form-control" id="recipename"  name ="recipename"> <br />
    	</div>    		
    	
    	<div class="form-group">
    		<label >Zutaten und Mengenangabe:</label>
    	</div>
    	
    	<fieldset name="quantity" style="float:left; width:20%;">
		  	<input type="text" name="quantity1" style="width:80px;" placeholder="Menge" > <br />	
		  	<input type="text" name="quantity2" style="width:80px;" > <br />	
		  	<input type="text" name="quantity3" style="width:80px;" > <br />	
		  	<input type="text" name="quantity4" style="width:80px;" > <br />	
		</fieldset>
		
    	<fieldset name="ingredients" style="float:right; width:80%;">
		  	<input class="form-control" name="ingredient1" type="text" placeholder="Zutat" > <br />	
		  	<input class="form-control" name="ingredient2" type="text" > <br />			
		  	<input class="form-control" name="ingredient3" type="text" > <br />	
		  	<input class="form-control" name="ingredient4" type="text" > <br />	
		  	<spant id="addBox" >
		 </fieldset>
		
		<div class="btn-group">
		    <button id="add" onclick="myFunction()" class="btn">
		      <span class="icon-plus"></span> 
		    </button> 
		</div>
		<br />
		<br />
		
  		<div class="form-group">
		    <label for="description">Zubereitung:</label>
		    <textarea class="form-control" id= "description" name = "description" class="form-control" ></textarea> <br />
 		</div>
 		
 		<div class="form-group">
			<label for="tag">Tags:</label>
		  	<input class="form-control" id="tag" name="tag" type="text" placeholder="Tag1, Tag2"> 	<br />
		</div>
 	
		<div class="form-group">
	    	<label for="fileInput">Bild hochladen</label>
	   		<input type="file" id="pic"> <br />
	  	</div>
  		<br />
  		
  		<button type="submit" class="btn btn-primary" >Erstellen</button> <br />
	</form>
	
	<script>
		var countBox =1;
		var boxName = 0;
		function addInput()
		{
		     var boxName="textBox"+countBox; 
			 document.getElementById('addBox').innerHTML+='<br/><input type="text" id="'+boxName+'" value="'+boxName+'" "  /><br/>';
		     countBox += 1;
		}
	</script>
	<a href="home/index.html" >zur&uuml;ck zur &Uuml;bersicht</a>
{% endblock %}