{% extends "base.html" %}
{% load static %}
{% block content %}
	
	<h1>{{recipe.recipename}}</h1> 
	{% if recipe.author == user.student %}
		<a href="{% url 'recipes:edit' recipe.id %}">Rezept bearbeiten</a> <a href="{% url 'recipes:delete' recipe.id %}" onclick="return window.confirm('Rezept wirklich l&ouml;schen?');">Rezept l&ouml;schen</a> <br />
	{% endif %}
	<span class="sub-text"><i>am {{recipe.pub_date}} erstellt von {{recipe.author}}</i></span>
	{% if recipe.pic %}
		<div><img src="{{ recipe.pic.url }}" style="height:150px" /></div>
	{% elif not recipe.pic %}
		<div><img src="{% static "img/kein_foto.png" %}" style="height:90px" /></div>
	{% endif %}
	
	<h5>Zutaten:</h5>
	<ul>
		{% for recipeIngredient in recipeIngredients.all %}
		    <li>{{recipeIngredient}}</li>
		{% endfor %}
	</ul>
	
	 <div class="header">
	 	<h5>Zubereitung</h5>
		<img src="{% static "img/zubereitung.png" %}"/>	  
	</div>
	
	<p>{{recipe.description}}</p>

	<h5>Tags:</h5>
	{% for tag in recipe.tags.all %}
		<li>{{tag.tagname}}</li>
	{% endfor %}<br />
	
	<p>Durchschnittliche Bewertung: <strong>{{ratings}}</strong> von 5</p> 

	{% if user.is_authenticated %}
		{% if not recipe.author == user.student  and ratingOfCurrentUser == 0%}
			<form action="{% url 'recipes:rate' recipe.id %}" method="post">
			{% csrf_token %}
			<input type="radio" name="rating" value="1" />1
			<input type="radio" name="rating" value="2" />2
			<input type="radio" name="rating" value="3" />3
			<input type="radio" name="rating" value="4" />4
			<input type="radio" name="rating" value="5" />5
			<input type="submit" value="Bewerten" class="btn btn-primary" />
			</form>
		{% endif %}
		{% if not ratingOfCurrentUser == 0%}
			<p>Deine Bewertung:{{ratingOfCurrentUser}}</p>
		{% endif %}
	{% endif %} 

	<div class="detailBox">
	    <div class="titleBox">
	      <label>Kommentare</label>
	    </div>
	    <div class="actionBox">
	        <ul class="commentList">
	            <li>
	            {% for comment in comments%}
	            	<div class="commenterImage">
	                  <img src="http://www.ml-landschaftsarchitektur.de/images/platzhalter.png" />
	                </div>
	                <div class="commentText">
	                    <p>{{comment.comment}}</p><span class="sub-text"><i>{{comment.author}}</i></span>
	                </div>
	 			{% endfor %}      
	            </li>
	        </ul>
	        {% if user.is_authenticated %}
	        <form class="form-inline" role="form" action="{% url 'recipes:comment' recipe.id %}" method="post">
	        	{% csrf_token %}
	            	  <input class="form-control" type="text" name="comment" cols="50" rows="2"placeholder="Dein Kommentar" />
	            	  <input type="submit" value="Posten" class="btn btn-primary"/>
	   	 	</form>
	   	 	{% endif %} 
	   	 </div> 
	</div>       
{% endblock %}
