{% extends "base.html" %}

{% block title %}
	{{ block.super }} - Rezept "{{recipe.name}}"  bearbeiten
{% endblock %}
	
{% block content %}
	<h2>Rezept bearbeiten</h2>
	<form action="{{ action_url }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		{{ form }}
		{% csrf_token %}
  		
  		<div class="form-group">
    		<label for="recipename">Rezept:</label>
    		<input class="form-control" type="text" class="form-control" id="recipename"  name ="recipename" value="{{recipe.recipename}}">
    	</div>   
    	 		
    	<br />
    	<div class="form-group">
    		<label >Zutaten und Mengenangabe:</label>
    	</div>
		
		<fieldset name="ingredients" >
		{% for recipeIngredient in recipeIngredients %}
			<input value="{{recipeIngredient.quantity}}" type="text" style="width:50px; margin-right:15px;" name ="quantity{{recipeIngredient.id}}" >		
		  	<input value="{{recipeIngredient.ingredient}}" type="text" style="width:100px;" name= "ingredient{{recipeIngredient.id}}" > <br />		
		{% endfor %}
		<input type="button" id="addButton" class="btn" value="Hinzuf&uuml;gen">	<br />	<br />	
		  	<span id="addBoxq" >
		 </fieldset>
		
		<br />

		<br />
  		<div class="form-group">
		    <label for="description">Zubereitung:</label>
		    <textarea class="form-control" id= "description" name = "description"  placeholder="Rezeptbeschreibung">{{recipe.description}}</textarea>
 		</div>
 		<br />
 		<div class="form-group">
			<label for="tag">Tags:</label>
		  	<input class="form-control" id="tag" name="tag" type="text" value="{{recipeTags}}">
		</div>
 		<br />
		<div class="form-group">
	    	{% if recipe.pic %}
				<div><img src="{{ recipe.pic.url }}" style="height:150px" /></div>
			{% elif not recipe.pic %}
				<label for="fileInput">Bild hochladen</label>
	   			<input type="file" id="pic_id" name="edit_pic">
			{% endif %}
	  	</div>
  		<br />
  		<button type="submit" class="btn btn-primary" >Speichern</button>
	</form>
	<br />
	<a href="home/index.html">zur&uuml;ck zur &Uuml;bersicht</a>
{% endblock %}