{% extends "base.html" %}
{% load static %}
{% block content %}
	<form action="{% url 'recipes:search' %}" method="get">
	<input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Suchbegriffe eingeben">
	<input type="submit" class="btn" value="Suchen" >
	</form>
	{% if query_string %}
		<h1>Du hast nach "{{query_string}}" gesucht.</h1> 
		{% if found_entries %}
			<ul class="recipes">
	    	{% for recipe in found_entries %}
	    		<a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.recipename }}</a> von <i>{{recipe.author}}</i><br />
	    	{% endfor %}
			</ul>
		{% else %}
    		<p>Die Suchanfrage hat keine Ergebnisse.</p>
		{% endif %}
	{% endif %}
{% endblock %}